.grid-container {
    display: grid;
    grid-template-columns: 15vw auto;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    /*background-color: #2196F3;*/
    padding: 10px;
  }

  .grid-container > div {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    text-align: center;
    padding: 20px 0;
}
.item1 {
    grid-column:1;
    grid-row: 1/7;
  }
/*.background:before{
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/National_Emblem_of_the_People%27s_Republic_of_China_%282%29.svg/500px-National_Emblem_of_the_People%27s_Republic_of_China_%282%29.svg.png");
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position:center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
   opacity: 0.3;
}*/

.container {  position: relative; }
.content {
    position: relative; 
    z-index: 2;
}​

#calculator {
    margin: auto;
    color:  #659dbd;
    margin-top: 5%;
}

#navbar li a{
    display: block;
}

#navbar li{
    list-style-type:none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

p,h1 {
    text-align: center;
    color:  #659dbd;
}

table{
    margin: auto;
}